doctype html
html
	head
		link(type='text/css' rel='stylesheet' href='sass/style.sass')
		script(type='text/javascript' src='scripts/lib/sha512.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript' src='scripts/login.js')
	body
		h1 Login
		h3 #{message}
		input(id='username' name='username' type='text' required placeholder='Username')
		input(id='password' name='password' type='password' required placeholder='Password')
		button(type='submit' onclick='login()') Log in
