doctype html
html
	head
		link(type='text/css' rel='stylesheet' href='sass/style.sass')
		script(type='text/javascript' src='scripts/lib/sha512.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript' src='scripts/login.js')
	body
		.listContainer
			h1(class='cell') Login
			h3(class='cell') #{message}
			input(class='cell' id='username' name='username' type='text' required placeholder='Username' onkeypress=handleSubmit)
			input(class='cell' id='password' name='password' type='password' required placeholder='Password' onkeypress=handleSubmit)
			button(class='cell' type='submit' onclick='login()') Log in
